
saves/*/region/r\.-1\.-1\.mca

saves/*/region/r\.-1\.0\.mca

saves/*/region/r\.0\.-1\.mca

saves/*/session\.lock

saves/*/stats/

usercache\.json

saves/*/playerdata/

logs/

realms_persistence\.json

saves/*/advancements/

saves/*/data/villages_end\.dat

saves/*/data/villages_nether\.dat

saves/*/data/villages\.dat

saves/*/level\.dat_old

saves/*/region/r\.1\.-1\.mca

saves/*/region/r\.1\.0\.mca

saves/*/data/
