
saves/Lab/region/r\.-1\.-1\.mca

saves/Lab/region/r\.-1\.0\.mca

saves/Lab/region/r\.0\.-1\.mca

saves/Lab/session\.lock

saves/Lab/stats/

usercache\.json

saves/Lab/playerdata/

logs/

realms_persistence\.json

saves/Lab/advancements/

saves/Lab/data/villages_end\.dat

saves/Lab/data/villages_nether\.dat

saves/Lab/data/villages\.dat

saves/Lab/level\.dat_old
